@import '../../style/variables.scss';

.single-comic {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    &__char-img {
        width: 293px;
        height: 293px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
}

.wrap-single {
    @keyframes animationSingle {
        0%{
            opacity: 0;
            transform: scale(1.5);
            transform: translateY(200px);
        }
        100%{
            opacity: 1;
            transform: scale(1);
            transform: translateY(0);
        }
    }
}   